/*Variables*/

:root {
	--basic-white: #FFFFFF;
	--basic-gray: #EEEEEE;
	--special-gray: #666666;
	--basic-lightgray: #DFDFDF;
	--basic-darkgray: #D5D5D5;

	--basic-black: #283136;
	--special-black: #000000;
	--light-black: #444444;
	--basic-coal: #4D4D4D;

	--gradient-gray: linear-gradient(0deg, #E1E1E1, #E1E1E1);

	--basic-lightred: #FB565A;
	--basic-red: #E74246;
	--basic-darkred: #D7373B;
	--basic-red-gradient: linear-gradient(0deg, #E74246, #E74246);
	--basic-darkred-gradient: linear-gradient(0deg, #D7373B, #D7373B);

	--basic-lightgreen: #00CA74;
	--basic-green: #00BC6C;
	--basic-darkgreen: #00AA62;

	--basic-lightyellow: #EFC84A;
	--basic-yellow: #EAB534;
	--basic-darkyellow: #E5A722;
	
	--special-gray: #666666;
}


/*Global*/

body {
	min-width: 1440px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--special-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

/*Grid*/

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.button {
	color: var(--basic-white);
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
}

/*visibility*/

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*Header*/

.main-header {
	background-color: var(--basic-gray);
	padding-top: 50px;
	padding-bottom: 0px;
}

.main-navigation {
	display: grid;
	grid-template-columns: 160px 1fr;
	align-items: center;
	grid-gap: 30px;

	font-weight: 500;
	line-height: 30px;

	color: var(--basic-black);
	background-color: var(--basic-gray);

	margin-bottom: -10px;
}

.site-navigation-wrapper {
	display: grid;
	grid-template-columns: 1fr 140px;
	grid-gap: 50px;
	padding-top: 6px;
}

.site-navigation {
	list-style: none;
	padding: 0;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.site-navigation a {
	display: block;
	padding: 5px 22px;
}

.cart-navigation {
	text-align: end;
	align-self: center;
}

.site-navigation a,
.cart-navigation a {
	color: var(--basic-black);
	text-transform: uppercase;
	font-weight: bold;
}

.site-navigation a:hover,
.cart-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:focus {
	color: var(--basic-red);
}

.site-navigation a:active,
.cart-navigation a:active {
	opacity: 0.3;
}

/*Slides*/

.slides-wrapper {
	background-color: var(--basic-gray);
}

.slides {
	position: relative;
}

.slide {
	min-height: 430px;
}

.slide-tagline {
	font-size: 55px;
	font-weight: 600;
	line-height: 55px;
	margin-top: 0;
	margin-bottom: 25px;
	padding-top: 78px;

	color: var(--special-black);
}

.slide-text {
	margin-bottom: 53px;
}

.slide a {
	background-color: var(--basic-lightred);
	padding: 16px 55px;
}

.slide a:hover,
.slide a:focus {
	background-color: var(--basic-red);
}

.slide a:active {
	background-color: var(--basic-darkred);
	opacity: 0.3;
}

.slide1 {
	background-image: url(../img/index-slide1.png);
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.slide2 {
	background-image: url(../img/index-slide2.png);
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.slide3 {
	background-image: url(../img/index-slide3.png);
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.list-slides {
	list-style: none;
	display: flex;
	position: absolute;
	left: 43%;
	top: 70%;
}

.list-slides button {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: none;

	margin-right: 17px;

	background-color: var(--basic-white);
}

/*Services*/

.services-wrapper {
	background-color: var(--basic-white);
}

.services {
	padding: 65px 0 45px 0;
	margin-bottom: 70px;
	border-bottom: 2px solid var(--basic-gray);
}

.services-list {
	list-style: none;
	padding: 0;
	padding-bottom: 30px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px; 
}

.service-item h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: 18px;
	margin-bottom: 17px;

	color: var(--special-black);
}

.service-item p {
	margin-bottom: 45px;
}

.service-item a {
	padding: 16px 40px 15px;
}

.service-link1 {
	background-color: var(--basic-lightred);
}

.service-link1:hover,
.service-link1:focus {
	background-color: var(--basic-red);
}

.service-link1:active {
	background-color: var(--basic-darkred);
	opacity: 0.3;
}

 .service-link2 {
	background-color: var(--basic-lightgreen);
}

.service-link2:hover,
.service-link2:focus {
	background-color: var(--basic-green);
}

.service-link2:active {
	background-color: var(--basic-darkgreen);
	opacity: 0.3;
}

.service-link3 {
	background-color: var(--basic-lightyellow);
}

.service-link3:hover,
.service-link3:focus {
	background-color: var(--basic-yellow);
}

.service-link3:active {
	background-color: var(--basic-darkyellow);
	opacity: 0.3;
}

/*Info*/

.info-wrapper {
	background-color: var(--basic-white);
}

.info-box {
	display: flex;
	justify-content: space-between;

	padding-bottom: 50px;

	border-bottom: 2px solid var(--basic-gray);
}

.info-tagline {
	margin-top: 4px;
	font-size: 45px;
	font-weight: 550;
	line-height: 45px;

	margin-bottom: 33px;

	color: var(--special-black);
}

.info-services {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;

	margin-top: 40px;
	margin-bottom: 25px;
}

.info-list {
	list-style: none;
	padding: 0;
}

.info-list li {
	margin-bottom: 23px;
	padding-left: 36px;
	position: relative;
}

.info-list li::before {
	position: absolute;
	left: 0%;
	top: 40%;
	content: "";
	width: 25px;
	height: 2px;
	background-color: var(--basic-lightred);
}

/*Indicators*/

.indicators {
	margin-top: -30px;
	width: 360px;
}

.indicators-tagline {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;

	margin-top: 30px;
	margin-bottom: 2px;
	margin-left: 18px;
}

.indicators-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.indicators-item {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-right: 10px;
}

.indicators-value {
	order: -1;
	font-size: 45px;
	font-weight: 700;
	line-height: 64px;
	margin-top: 28px;
	margin-bottom: 13px;

	color: var(--special-black);
}

.indicators-value span {
	font-size: 26px;
	line-height: 40px;
}

.indicators-text {
	line-height: 18px;
	margin-top: 0px;
}

/*Manufacturers*/

.manufacturers-wrapper {
	background-color: var(--basic-white);
}

.manufacturers {
	border-bottom: 2px solid var(--basic-gray);
}

.manufacturers-list {
	list-style: none;
	padding: 30px 32px 0 32px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.manufacturers-list a {
	opacity: 0.2;
}

.manufacturers-list a:hover,
.manufacturers-list a:focus {
	opacity: 1;
}

.manufacturers-list a:active {
	opacity: 0.1;
}

/*Footer*/

.main-footer {
	display: grid;
	grid-template-rows: 416px min-content;

	margin-top: 80px;
}

/*Footer-contacts*/

.footer-contacts-wrapper {
	background-color: var(--basic-gray);
}

.footer-contacts {
	width: 1440px;
	margin: 0 auto;
	padding: 0 10px;

	display: grid;
}

.footer-contacts img {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.contacts-box {
	background-color: var(--basic-white);
	width: 320px;
	height: 310px;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.contacts-box h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;

	color: var(--special-black);
}

.contacts-box address,
.contacts-box p {
	color: var(--special-gray);
	line-height: 18px;
	font-style: normal;
}

.contacts-phone a {
	color: var(--special-gray);
}

.contacts-button {
	background-color: var(--basic-lightred);
}

/*Footer-social*/

.footer-social-wrapper {
	background-color: var(--basic-white);
}

.footer-social {
	padding-top: 75px;

	display: grid;
	grid-template-columns: 1fr 2fr;
}

.footer-social-list {
	list-style: none;
	padding: 0;

	display: flex;
}

.footer-social-list a {
	display: block;
	background: var(--gradient-gray);
	width: 81px;
	height: 81px;
	text-align: center;
	border-radius: 50%;
}

.footer-social-list a:hover,
.footer-social-list a:focus {
	background: var(--basic-red-gradient);
}

.footer-social-list a:active {
	background: var(--basic-darkred-gradient);
}

.footer-social-list a:active img {
	opacity: 0.3;
}

.footer-social-text span {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;

	color: var(--special-black);
}

.footer-social-text {
	line-height: 22px;
	color: var(--light-black);
}

/*Catalog*/

.container-title-wrapper {
	background-color: var(--basic-gray);
}

.container-title {
	padding-top: 70px;
	padding-bottom: 108px;

	text-align: center;
}

.catalog-title {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;

	margin: 0;
}

.catalog-main-wrapper {
	display: grid;
	grid-template-columns: 340px 1fr;
	grid-gap: 20px;
}

/*Filters*/

.filters p {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;

	color: var(--special-black);
}

/*Products*/

.sorting {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sorting p {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;

	color: var(--special-black);
}

.sorting-list {
	list-style: none;
	display: flex;
}

.sorting-list a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	color: var(--special-black);
	opacity: 0.3;
}

.sorting button {
	opacity: 0.3;
}

.sorting-list a:hover,
.sorting-list a:focus,
.sorting-button:hover,
.sorting-button:focus {
	opacity: 0.6;
}

.sorting-list a:active,
.sorting-list a:active,
.sorting-button:active {
	opacity: 1;
}

.template-list {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
}

.template-item:hover .template-item-info,
.template-item:focus .template-item-info {
	opacity: 1;
}

.template-item-info {
	background-color: var(--basic-gray);
	opacity: 0;
}


.template-item-info h3 {
	font-size: 18px;
	font-weight: 700;	
	line-height: 30px;
	text-transform: uppercase;
	color: var(--special-black);
}

.template-item-info p {
	font-size: 16px;
	line-height: 18px;

	color: var(--special-gray);
}

.template-item button {
	background-color: var(--basic-lightred);
}

.template-item button:hover,
.template-item button:focus {
	background-color: var(--basic-red);
}

.template-item button:active {
	background-color: var(--basic-darkred);
}

/*Number-page*/

.number-page {
	display: flex;
}

.list-page {
	list-style: none;
	display: flex;
}

.list-page a {
	color: var(--special-black);
	background-color: var(--basic-gray);
}

.list-page a:hover,
.list-page a:focus {
	background-color: var(--light-gray);
}

.list-page a:active {
	background-color: var(--basic-darkgray);
}

.button-page {
	color: var(--special-black);
	background-color: var(--basic-gray);
	text-transform: uppercase;
}