/*Variables*/

:root {
	--basic-white: #FFFFFF;
	--basic-gray: #EEEEEE;
	--special-gray: #666666;
	--basic-lightgray: #DFDFDF;
	--basic-darkgray: #D5D5D5;

	--basic-black: #283136;
	--special-black: #000000;
	--light-black: #444444;
	--basic-coal: #4D4D4D;

	--gradient-gray: linear-gradient(0deg, #E1E1E1, #E1E1E1);

	--basic-lightred: #FB565A;
	--basic-red: #E74246;
	--basic-darkred: #D7373B;
	--basic-red-gradient: linear-gradient(0deg, #E74246, #E74246);
	--basic-darkred-gradient: linear-gradient(0deg, #D7373B, #D7373B);

	--basic-lightgreen: #00CA74;
	--basic-green: #00BC6C;
	--basic-darkgreen: #00AA62;

	--basic-lightyellow: #EFC84A;
	--basic-yellow: #EAB534;
	--basic-darkyellow: #E5A722;
	
	--special-gray: #666666;
}


/*Global*/

body {
	min-width: 1440px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--special-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

/*Grid*/

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.button {
	color: var(--basic-white);
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
}

/*visibility*/

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

/*Header*/

.main-header {
	background-color: var(--basic-gray);
}

.main-navigation {
	display: grid;
	grid-template-columns: 160px 1fr min-content;
	column-gap: 20px;

	font-weight: 500;
	line-height: 30px;

	color: var(--basic-black);
	background-color: var(--basic-gray);
}

.site-navigation-wrapper {
	padding-left: 20px;
}

.site-navigation {
	list-style: none;

	display: flex;
}

.site-navigation a,
.cart-navigation a {
	color: var(--basic-black);
	text-transform: uppercase;
}

.site-navigation a:hover,
.cart-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:focus {
	color: var(--basic-red);
}

.site-navigation a:active,
.cart-navigation a:active {
	opacity: 0.3;
}

/*Slides*/

.slides-wrapper {
	background-color: var(--basic-gray);
}

.slides {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

.slide-tagline {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	margin-top: 0;
	padding-top: 78px;

	color: var(--special-black);
}

.slide a {
background-color: var(--basic-lightred);
}

.slide a:hover,
.slide a:focus {
background-color: var(--basic-red);
}

.slide a:active {
background-color: var(--basic-darkred);
opacity: 0.3;
}

.list-slides {
	list-style: none;
}

.list-slides button {
	border: 1px solid black;
}

/*Services*/

.services-wrapper {
	background-color: var(--basic-white);
	margin-bottom: 40px;
}

.services {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
	border-bottom: 2px solid var(--basic-gray);
}

.services-list {
	list-style: none;
	padding: 0;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 40px; 
}

.service-item h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;

	color: var(--special-black);
}

.service-link1 {
background-color: var(--basic-lightred);
}

.service-link1:hover,
.service-link1:focus {
background-color: var(--basic-red);
}

.service-link1:active {
background-color: var(--basic-darkred);
opacity: 0.3;
}

 .service-link2 {
background-color: var(--basic-lightgreen);
}

.service-link2:hover,
.service-link2:focus {
background-color: var(--basic-green);
}

.service-link2:active {
background-color: var(--basic-darkgreen);
opacity: 0.3;
}

.service-link3 {
background-color: var(--basic-lightyellow);
}

.service-link3:hover,
.service-link3:focus {
background-color: var(--basic-yellow);
}

.service-link3:active {
background-color: var(--basic-darkyellow);
opacity: 0.3;
}

/*Info*/

.info-wrapper {
	background-color: var(--basic-white);
}

.info-box {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;

	display: grid;
	grid-template-columns: 2fr 1fr;

	border-bottom: 2px solid var(--basic-gray);
}

.info-tagline {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;

	color: var(--special-black);
}

.info-services {
	font-size: 20px;
	font-weight: 700;
}

/*Indicators*/

.indicators-list {
	list-style: none;
	display: flex;
}

.indicators-tagline {
	font-size: 20px;
	text-transform: uppercase;
}

.indicators-list {
	list-style: none;
}

.indicators-value {
	font-size: 45px;
	font-weight: 700;
	line-height: 64px;

	color: var(--basic-black);
}

.indicators-value span {
	font-size: 26px;
	line-height: 40px;
}

.indicators-text {
	line-height: 18px;
}

/*Manufacturers*/

.manufacturers-wrapper {
	background-color: var(--basic-white);
}

.manufacturers {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;

	border-bottom: 2px solid var(--basic-gray);
}

.manufacturers-list {
	list-style: none;
	padding: 0;

	display: flex;
	justify-content: space-around;
}

.manufacturers-list a {
	opacity: 0.2;
}

.manufacturers-list a:hover,
.manufacturers-list a:focus {
	opacity: 1;
}

.manufacturers-list a:active {
	opacity: 0.1;
}

/*Footer*/

.main-footer {
	display: grid;
	grid-template-rows: 416px min-content;

	margin-top: 80px;
}

/*Footer-contacts*/

.footer-contacts-wrapper {
	background-color: var(--basic-gray);
}

.footer-contacts {
	width: 1440px;
	margin: 0 auto;
	padding: 0 10px;

	display: grid;
}

.footer-contacts img {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.contacts-box {
	background-color: var(--basic-white);
	width: 320px;
	height: 310px;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.contacts-box h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;

	color: var(--special-black);
}

.contacts-box address,
.contacts-box p {
	color: var(--special-gray);
	line-height: 18px;
	font-style: normal;
}

.contacts-phone a {
	color: var(--special-gray);
}

.contacts-button {
	background-color: var(--basic-lightred);
}

/*Footer-social*/

.footer-social-wrapper {
	background-color: var(--basic-white);
}

.footer-social {
	width: 1160px;
	margin: 75px auto 0;
	padding: 0 10px;

	display: grid;
	grid-template-columns: 1fr 2fr;
}

.footer-social-list {
	list-style: none;
	padding: 0;

	display: flex;
}

.footer-social-list a {
	display: block;
	background: var(--gradient-gray);
	width: 81px;
	height: 81px;
	text-align: center;
	border-radius: 50%;
}

.footer-social-list a:hover,
.footer-social-list a:focus {
	background: var(--basic-red-gradient);
}

.footer-social-list a:active {
	background: var(--basic-darkred-gradient);
}

.footer-social-list a:active img {
	opacity: 0.3;
}

.footer-social-text span {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;

	color: var(--special-black);
}

.footer-social-text {
	line-height: 22px;
	color: var(--light-black);
}

/*Catalog*/

.container-title-wrapper {
	background-color: var(--basic-gray);
}

.container-title {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

/*Filters*/

/*Products*/

.sorting p {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;

	color: var(--special-black);
}

.sorting-list {
	list-style: none;
}

.sorting-list a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	color: var(--special-black);
	opacity: 0.3;
}

.sorting button {
	opacity: 0.3;
}

.sorting-list a:hover,
.sorting-list a:focus,
.sorting-button:hover,
.sorting-button:focus {
	opacity: 0.6;
}

.sorting-list a:active,
.sorting-list a:active,
.sorting-button:active {
	opacity: 1;
}

.template-list {
	list-style: none;
}

.template-item:hover .template-item-info,
.template-item:focus .template-item-info {
	opacity: 1;
}

.template-item-info {
	background-color: var(--basic-gray);
	opacity: 0;
}


.template-item-info h3 {
	font-size: 18px;
	font-weight: 700;	
	line-height: 30px;
	text-transform: uppercase;
	color: var(--special-black);
}

.template-item-info p {
	font-size: 16px;
	line-height: 18px;

	color: var(--special-gray);
}

.template-item button {
	background-color: var(--basic-lightred);
}

.template-item button:hover,
.template-item button:focus {
	background-color: var(--basic-red);
}

.template-item button:active {
	background-color: var(--basic-darkred);
}

.list-page {
	list-style: none;
}

.list-page a {
	color: var(--special-black);
	background-color: var(--basic-gray);
}

.list-page a:hover,
.list-page a:focus {
	background-color: var(--light-gray);
}

.list-page a:active {
	background-color: var(--basic-darkgray);
}

.button-page {
	color: var(--special-black);
	background-color: var(--basic-gray);
	text-transform: uppercase;
}